#main h1 {margin-top: 0; color: #777; }
#selection {padding: 10px;border: solid 1px #888;border-radius: 8px;}
#selection h1 {font-size: 12pt;color: #777;}
#selection label {display: inline-block; min-width: 75px;}
#selection button {margin-top: 20px;}
#report {margin-top: 10px;padding: 10px;border: solid 1px #888;border-radius: 8px;}
#report2 h1 {font-size: 12pt;color: #777;}
#report2 .l {text-align: left;}
#report2 .c {text-align: center;}
#report2 .r {text-align: right;}