/* Make the page use up the whole viewport height
 * and scroll its content.
 */
html, body {
  margin: 0px;
  height: 100%;
  overflow-y: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  margin: 0px;
  border: px;
}
div#add-line {
  float: left;
  clear: left;
}
div#final {
  margin-left: 40px;
  margin-right: 40px;
  float: left;
}
#final button {
  background-color: #ff9191;
  height: 40px;
  font-size: 14px;
}
#bottomdiv {
  height: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#bookings {
  background-color: #e0e0e0;
  border-radius: 5px;
  margin: 5px;
}
#bookings2 {
  background-color: #e0e0e0;
  margin: 5px;
}
p.err1 {
  margin: 0px;
  color: #A00000;
  font-size: 12px;
}
th {
  font-size: 12px;
}
p.p1 {
  margin: 5px;
  font-weight: bold;
}
p.p2 {
  margin: 5px;
}
td.pr {
  padding-right: 10px;
  font-size: 14px;
}
.bhl {
  width: 22px;
  font-size: 12px;
}
.bhm {
  width: 22px;
  font-size: 12px;
}
.bhr {
  border-right: black;
  border-right-style: solid;
  border-right-width: 1px;
  width: 20px;
  font-size: 12px;
}
.bhrs {
  border-right: black;
  border-right-style: solid;
  border-right-width: 1px;
  width: 20px;
}
.in1 {
  font-size: 20px;
  margin: 10px;
}
input.upper {
  text-transform: uppercase;
}
table {
  border-collapse: collapse;
}
.right {
  text-align: right;
}
.red {
  color: #ff0000;
}
.green {
  color: #00ff00;
}
#tempdiv {
  width: 800px;
  height: 260px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #c0c0c0;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 5px #888888;
}

td.wide {
  min-width: 130px;
  max-width: 200px;
}

td select {
  width: 100%;
}

.deleted span,
.deleted {
    text-decoration: line-through;
    color: #c0c0c0;
}

/* Bootstrap-select customizations to make the
 * dropdown-menu open at the top of the viewport
 * and use the full width. This is to cope with the
 * software keyboard on mobile devices.
 */
.combo-search .dropdown-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#loading-spinner {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(169, 169, 169, 0.58);
  z-index: 1000;
}

.loader {
  position: relative;
  top: 50%;
  margin-left: auto;
  margin-right: auto;

  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.textbox {
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Courier New';
  font-size: 16px;
  font-weight: bold;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}