#heading {padding: 5px;font-family: Calibri, Arial, Helvetica, sans-serif;background-color: #000040;}
#headcontainer{display:flex;}
#headcontainer div.left {}
#headcontainer div.right {align-self: flex-end;}
@media only screen and (min-width: 800px) {
    #heading {padding: 20px;font-family: Calibri, Arial, Helvetica, sans-serif;background-color: #000040;}
}