#tiles {display: flex;flex-wrap: wrap;justify-content: center;}
div.tile {margin: 5px;padding: 5px;width: 250px;height: 250px;color: #555;border: solid 1px #444;background-image: radial-gradient(circle closest-corner at 55% 45%, white, #8585f3);}
div.tile:hover {margin: 0px; padding: 5px;width: 250px; height: 250px; background-color: #808080;border: solid 1px #444; box-shadow: 10px 10px 5px grey;background-image: radial-gradient(circle closest-corner at 55% 45%, white, #8585f3);}
div.tile h1 {text-shadow: 1px 1px #ffffff, -1px -1px #000000;font-size: 20pt;color: #0000ff;text-align: center;}
div.tile p {text-align: center;}
div.tile button {display: block; margin: auto;margin-top: 10px;font-size: 14pt;}
@media only screen and (min-width: 800px) {
}