.list {padding: 10px;}
._listHead h1 {
    font-size: var(--heading-font-size);
    color: var(--heading-color);
    font-weight: var(--heading-font-weight);
    font-family: var(--heading-font-familiy);
}
.list table {border-collapse: collapse;min-width: 600px;}
.list th {
    padding: 10px;
    border-top: solid 1px #888;
    border-bottom: solid 1px #888;
    background-color: var(--bk-color);
    color: var(--text-color);
    text-align: left;
}
.list tr:first-child th:first-child {border-left: solid 1px #888;}
.list tr:first-child th:last-child {border-right: solid 1px #888;}
.list td {padding: 8px;color: #555;}
.list td:first-child {border-left: solid 1px #888;}
.list td:last-child {border-right: solid 1px #888;}
.list tr:last-child td {border-bottom: solid 1px #888;}
.list tr:hover {background-color: white;}
.list .first {display: block;}
.list .rtEntity {margin: 24px; display: none;}
.list .listactions {padding: 10px;border: solid 1px #888;margin-bottom: 10px;border-radius: 5px;background-color: #ededed;min-width: 580px;}
.list .listactions form {display: inline-block;}
.list .listactions button {margin-right: 14px;}
.list button.listDelete {}
.list td.r {text-align: right;}

@media only screen and (min-width: 800px) {
}