:root {
    --heading-color: #444;
    --heading-font-size: 14pt;
    --heading-font-weight: bold;
    --heading-font-familiy: Calibri;
}

#left {
    --bk-color: #afdcfd;
    --border-top: solid 1px #888;
    --border-bottom: solid 1px #888;
}

#right {
    --bk-color: #f8f8f8;
    --border-top: solid 1px #888;
    --border-bottom: solid 1px #888;
}

#formdetails {
    --bk-color: #e8e8e8;
    --border-top: solid 1px #888;
    --border-bottom: solid 1px #888;
    --field-border-color-botton: #d7912f;
}

.list th {
    --bk-color: #fff5db;
    --text-color: #167729;
}