:root {
    --heading-color: #444;
    --heading-font-size: 14pt;
    --heading-font-weight: bold;
    --heading-font-familiy: Calibri;
}

#left {
    --bk-color: #afdcfd;
    --border-top: solid 1px #888;
    --border-bottom: solid 1px #888;
}

