[Unit]
Description=posrecv  service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
StartLimitIntervalSec=0
ExecStart=--DIR--/posrecv --OPTIONS--

[Install]
WantedBy=multi-user.target