# .htaccess
DirectoryIndex home.php
RewriteEngine On

# if maintenance.trigger exists, then reply with
# 503 Temporarily Unavailable
RewriteCond %{ENV:REDIRECT_STATUS} !=503
RewriteCond "/var/www/html/maintenance.trigger" -f
RewriteRule ^(.*)$ /$1 [R=503,L]

RewriteRule   ^app/css/(.*)    /lrv/public/css/$1  [L]
RewriteRule   ^app/(.*)    /lrv/public/app/$1  [L]
# TODO find another way to map laravel /api as gops has already implemented /api/v1/json/
# RewriteRule   ^api/(.*)    /lrv/public/api/$1  [L]

RewriteRule newhome Home2.php [L]
RewriteRule home home.php [L]
RewriteRule AssignRoles role_member-list.php [L]
RewriteRule AssignRole role_member.php [L]
RewriteRule Documents documents.php [L]
RewriteRule FlightTypes flighttypes-list.php [L]
RewriteRule FlightType flighttypes.php [L]
RewriteRule FlyingNow FlyingNow.php [L]
RewriteRule MessagingPage MessagingPage.php [L]
RewriteRule AircraftTypes aircrafttype-list.php [L]
RewriteRule AircraftType aircrafttype.php [L]
RewriteRule AllAircraft aircraft-list.php [L]
RewriteRule Aircraft aircraft.php [L]
RewriteRule AllMembers members-list.php [L]
RewriteRule BillingOptions billingoptions-list.php [L]
RewriteRule BillingOption billingoptions.php [L]
RewriteRule BookingTypes bookingtypes-list.php [L]
RewriteRule BookingType bookingtypes.php [L]

RewriteCond %{REQUEST_FILENAME} !\.(jpg|gif|js|css)$
RewriteRule DailySheet dailysheet.php [L]

RewriteRule DutyTypes dutytypes-list.php [L]
RewriteRule DutyType dutytypes.php [L]
RewriteRule IncentiveSchemes incentive_schemes-list.php [L]
RewriteRule IncentiveScheme incentive_schemes.php [L]
RewriteRule LaunchTypes launchtypes-list.php [L]
RewriteRule LaunchType launchtypes.php [L]
RewriteRule Organisations organisations-list.php [L]
RewriteRule Organisation organisations.php [L]
RewriteRule Member members.php [L]
RewriteRule Aircraft aircraft.php [L]
RewriteRule RegisterMe Register.php [L]
RewriteRule Roles roles-list.php [L]
RewriteRule Role roles.php [L]
RewriteRule Rosters duty-list.php [L]
RewriteRule Roster duty.php [L]
RewriteRule SubsToSchemes scheme_subs-list.php [L]
RewriteRule SubsToScheme scheme_subs.php [L]
RewriteRule OtherCharges charges-list.php [L]
RewriteRule OtherCharge charges.php [L]
RewriteRule TowCharges towcharges-list.php [L]
RewriteRule TowCharge towcharges.php [L]
RewriteRule MyFlights MyFlights.php [L]
RewriteRule ViewBookings ViewBookings.php [L]
RewriteRule GlideAccounts.csv Treasurer2.php [L]
RewriteRule Engineering.csv Engineer2.php [L]
RewriteRule OlcFile.igc igcgenerate.php [L]
RewriteRule PasswordChange PasswordChange.php [L]
RewriteRule agc MasterDisplay.php?org=4 [L]
RewriteRule cgc MasterDisplay.php?org=3 [L]
RewriteRule ssb MasterDisplay.php?org=2 [L]
RewriteRule wgc MasterDisplay.php?org=1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule api/v1/json/(.*)$ apiglidjsonv1.php?r=$1 [QSA,NC,L]


