#menu {background-color:#000080;height:30px;}
ul.menu_ul {margin: 0;padding-left: 5px;padding-top:5px;list-style-type: none;}
li.menu_li {margin: 0;float:left;padding-left: 5px;width: 80px;}
a.mn{color: white;}
a.mn:link{color: white;}
a.mn:visited {color: white;}
a.mn:hover {color: #0000FF;}