<?php
/*
----------------------------------------------------
  Site settings file for global site settings
----------------------------------------------------
*/
  return [
    'globalSettings' => [
        'mapKey' => 'enter_map_key_here'
    ]
  ];
?>
